@charset "UTF-8";

/* VISUAL */

.visual{width:100%; height:700px; background: url(../images/visual_01.png) no-repeat center top; background-size: cover;}

.visual>.center{height:100%; position:relative;}

.visual p{position:absolute; font-family:"나눔손글씨 붓","NanumBrush",sans-serif; line-height:65px; font-size:60px; color:#fff; font-weight:bold;}

.visual p:first-child{top:20%; left:2%;}

.visual p:last-child{top:5%; right:5%;}

.visual p>.blue{color:#034ea2;}

.visual p>.red{color:#ed1c24; font-size:50px; padding-left:5%;}

.visual p>.black{color:#000; font-size:40px;}

/*-----------------------------------------------------------------------------*/

/* CONTAINER BANNERS */
.conBanners{position:absolute; top:680px; left:50%; margin-left:-600px;}

.conBanners>div{float:left;}

.conBanners p{font-weight:bold;}

.banLeft>.upper{margin:0px 20px 20px 30px; background:url(../images/ban_01.png) no-repeat;}

.banMid>.upper{margin:0px 20px 20px 0px; background:url(../images/ban_02.png) no-repeat;}

.banRight>.upper{margin:0px 30px 20px 0px; background:url(../images/ban_03.png) no-repeat;}

.banLeft>.lower{margin:0px 20px 0px 30px; background:url(../images/ban_04.png) no-repeat;}

.banMid>.lower{margin-right:20px; background:url(../images/ban_05.png) no-repeat;}

.banRight>.lower{margin-right:30px; background:url(../images/ban_06.png) no-repeat;}

.banLeft>.upper>a>p{color:#fff;}

.banLeft>.upper>a>p:first-child{padding:70px 130px 0px 138px; font-size:35px; line-height: 45px;}

.banLeft>.upper>a>p:nth-child(2){padding:30px 0px 0px 81px; font-size:23px;}

.banLeft>.upper>a>p:nth-child(3){padding:16px 0px 46px 50px;}

.banMid>.upper>a>p:first-child{padding:48px 11px 0px 11px; font-size:23px;}

.banMid>.upper>a>p:last-child{padding:20px 0px 84px 11px;}

.banMid>.upper>a>p>span{color:#3c8945;}

.banRight>.upper>a>p{text-align: center;}

.banRight>.upper>a>p:first-child{padding:97px 67px 0px 72px; line-height: 25px;}

.banRight>.upper>a>p:last-child{padding-bottom:83px; color:#034ea2; font-size:23px; line-height:35px;}

.banRight>.upper>a>p>span{color:#ed1c24;}

.banLeft>.lower>a>p{padding:55px 192px 45px 56px; font-size:35px; line-height:50px;}

.banLeft>.lower>a>p>span{color:#ff6804;}

.banMid>.lower>a>p{padding:39px 22px 36px 84px; font-size:23px; line-height:45px; text-align:right;}

.banMid>.lower>a>p>span{color:#9a188f;}

.banRight>.lower>a>p:first-child{padding:41px 162px 0px 27px; font-size:23px; line-height: 30px; color:#ed1c24;}

.banRight>.lower>a>p:last-child{padding:10px 62px 29px 27px; line-height: 30px;}

.banRight>.lower>a>p>span{color:#034ea2;}

/*-----------------------------------------------------------------------------*/

/* CONTAINER SERVICE */
.conService{margin-top:350px; margin-bottom:50px;}

.conService>.title{font-size:20px; text-align:center;}

.conService>ul{float:left; width:100%; margin-top:30px;}

.conService>ul>li{float:left; width:12.5%;}

.conService>ul>li:hover p{color:#034ea2;}

.conService>ul>li div{height:95px; background:url(../images/ico_service.png) no-repeat;}

.conService>ul>li p{padding-top:10%; text-align: center; font-weight:bold;}

.conService>ul>li:first-child div{background-position:30px 0px;}

.conService>ul>li:nth-child(2) div{background-position:-125px 0px;}

.conService>ul>li:nth-child(3) div{background-position:-280px 0px;}

.conService>ul>li:nth-child(4) div{background-position:-440px 0px;}

.conService>ul>li:nth-child(5) div{background-position:-590px 0px;}

.conService>ul>li:nth-child(6) div{background-position:-750px 0px;}

.conService>ul>li:nth-child(7) div{background-position:-905px 0px;}

.conService>ul>li:last-child div{background-position:-1065px 0px;}

/*-----------------------------------------------------------------------------*/

/* CONTAINER INFORMATION */
.conInfo>div{float:left;}

/* 공지사항, 보도자료 */

.board{width:40%; margin-left:0.83%; margin-right:1.66%;}

.board>.title>ul>li{float:left; border:1px solid #000; border-bottom:none;}

.board>.title>ul>li:nth-child(2),.board>.title>ul>li:last-child{border-left:none;}

.board>.title>ul>li>a{display:block; padding:21px 36px 17px 38px; font-weight:bold; font-size:20px;}

.boardBox{border:1px solid #000;}

.boardBox li{margin-top:25px;}

.boardBox li:last-child{margin-bottom:22px;}

.boardBox li>a{float:left; display:block; width:60%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; padding-left:5%; padding-right:9%; font-weight:bold;}

.pressBody{display:none;}

/* 전력수급현황, 꼭 읽어보세요 공통사항 */

.status,.readme{width:27.5%;}

.status>.title>h3,.readme>.title>h3{font-size:20px; font-weight:bold; padding:17.5px 0;}

.statusBody,.rollingBan{border:1px solid #000; height:300px;}

/* 전력수급현황 */

.status{margin-right:1.66%;}

.statusBody{position:relative;}

.statusBody>p{font-weight:bold;}

.statusBody>p:first-child{width:100%; text-align: center; margin-top:19px;}

.statusBody>p:nth-child(2){width:100%; text-align: center; margin-top:72px;}

.statusBody>p:nth-child(3){display:inline; margin-left:96px;}

.statusBody>p:nth-child(4){display:inline; margin-left:105px;}

.refresh{position:absolute; top:15px; right:20px; text-indent: -9999px; width:38px;
height:32px; background:url(../images/ico_refresh.png) no-repeat;}

.statusBody>ul{margin-top:31px; margin-left:60px;}

.statusBody span{width:50%; font-weight:bold;}

.statusBody span:first-child{padding-right:56px;}

.statusBody li:last-child>span:first-child{padding-right:73px;}

/* 꼭 읽어보세요 */
.rollingBan{overflow:hidden;}

.rbanImg{width:1650px;}

.rbanImg li{width:330px; float:left;}

.rbanImg li a{height:300px;}

.rbanImg li p{font-weight:bold;}

.rbanImg li:first-child{background:url(../images/slideban_01.jpg);}

.rbanImg li:first-child>a{display:block; text-indent:-9999px;}

.rbanImg li:nth-child(2){background:url(../images/slideban_02.jpg);}

.rbanImg li:nth-child(2) p{color:white;}

.rbanImg li:nth-child(2) p:first-child{font-size:23px; padding-left:96px; padding-top:63px;}

.rbanImg li:nth-child(2) p:last-child{text-align:right; padding-top:40px; padding-right:15px; line-height:35px;}

.rbanImg li:nth-child(2) p>span{color:#ff6804;}

.rbanImg li:nth-child(3){background:url(../images/slideban_03.jpg);}

.rbanImg li:nth-child(3) p{padding-left:45px;}

.rbanImg li:nth-child(3) p:first-child{font-size:23px; padding-top:58px;}

.rbanImg li:nth-child(3) p:last-child{padding-top:30px; line-height:32px;}

.rbanImg li:nth-child(3) p>span{color:#ed1c24;}

.rbanImg li:nth-child(4){background:url(../images/slideban_04.jpg);}

.rbanImg li:nth-child(4) p{padding-left:40px;}

.rbanImg li:nth-child(4) p:first-child{padding-top:70px;}

.rbanImg li:nth-child(4) p:last-child{padding-top:19px; font-size:35px; line-height:50px;}

.rbanImg li:last-child{background:url(../images/slideban_02.jpg);}

/*-----------------------------------------------------------------------------*/

/* 미니 배너 */

.miniBan{margin-left:0.83%; margin-top:50px;}

.miniBan ul{width:100%;}

.miniBan li{float:left; border:1px solid #000; margin-right:1.6%}

.miniBan li:nth-child(5), .miniBan li:last-child{border:none;}

.miniBan li:last-child{margin-right:0;}

/*-----------------------------------------------------------------------------*/